socisaWeb/Service References/ServiceReference1/SubrogationService_1_2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AZT.NET.Insurance.Entities.Claim" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AZT.NET.Insurance.Entities.Claim" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfClaimDocumentSummary">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClaimDocumentSummary" nillable="true" type="tns:ClaimDocumentSummary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClaimDocumentSummary" nillable="true" type="tns:ArrayOfClaimDocumentSummary" />
  <xs:complexType name="ClaimDocumentSummary">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Extension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClaimDocumentSummary" nillable="true" type="tns:ClaimDocumentSummary" />
</xs:schema>