ExternalServiceCalls/Service References/ServiceReference1/SubrogationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="SubrogationService_1.xsd" namespace="http://schemas.datacontract.org/2004/07/AZT.NET.Insurance.Entities.Subrogation" />
  <xs:import schemaLocation="SubrogationService_1_2.xsd" namespace="http://schemas.datacontract.org/2004/07/AZT.NET.Insurance.Entities.Claim" />
  <xs:import schemaLocation="SubrogationService_1_2_3.xsd" namespace="http://schemas.datacontract.org/2004/07/AZT.NET.Insurance.Entities" />
  <xs:element name="BrowseAllSubrogations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BrowseAllSubrogationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AZT.NET.Insurance.Entities.Subrogation" minOccurs="0" name="BrowseAllSubrogationsResult" nillable="true" type="q1:ArrayOfSubrogationInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BrowseUnreadSubrogations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BrowseUnreadSubrogationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AZT.NET.Insurance.Entities.Subrogation" minOccurs="0" name="BrowseUnreadSubrogationsResult" nillable="true" type="q2:ArrayOfSubrogationInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkAsReadById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkAsReadByIdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkAsReadByClaimId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="claimId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkAsReadByClaimIdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkAsReadByClaimFileNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="claimFileNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkAsReadByClaimFileNoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BrowseClaimDocuments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="claimId" type="xs:int" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BrowseClaimDocumentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AZT.NET.Insurance.Entities.Claim" minOccurs="0" name="BrowseClaimDocumentsResult" nillable="true" type="q3:ArrayOfClaimDocumentSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClaimDocumentDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="documentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClaimDocumentDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AZT.NET.Insurance.Entities" minOccurs="0" name="GetClaimDocumentDetailsResult" nillable="true" type="q4:BinaryContent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>